.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #1e90ff;
  color: white;
}

.header-text h1 {
  margin: 0;
  font-size: 2.5em;
}

.header-text h2 {
  margin: 0;
  font-size: 1.5em;
  font-weight: 300;
}

#logo {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

#name, #title {
  text-align: center;
}

#intro {
  display: flex;
  text-align: center;
  justify-content: center;

}

#intro h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

#info {
  max-width: 50%;
  font-size: 1.2em;
}

#experience-list, #favorite-programming-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px;
}

.favorite-list-programming {
  margin: 10px 10px 10px 10px;
  background-color: var(--card_background);
  border: 1px solid var(--card_border);
  padding: 20px;
  width: 40%;
  border-radius: 20px;
}

.experience-list {
  list-style-type: none;
  background-color: var(--card_background);
  border: 2px solid var(--card_border);
  padding: 10px;
  width: 25%;
  border-radius: 20px;
}

.info-spec {
  background-color: var(--section_background);
  border: 2px solid var(--card_border);
  padding: 10px;
  margin: 20px;
  border-radius: 50px;
}

#slider {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.slider-container {
  overflow: hidden;
  padding: 60px 0;
  white-space: nowrap;
  position: relative;
}

.slider-container:before,
.slider-container:after {
  position: absolute;
  top: 0;
  width: 250px;
  height: 100%;
  content: "";
  z-index: 2;
}

.slider-container:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), var(--primary_background));
}

.slider-container:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), var(--primary_background));
}

.logo-slider {
  display: inline-block;
  animation: 35s slide infinite linear;
}

.logo-slider .slider-logo {
  height: 100px;
  width: 100px;
  margin: 0 40px;
}

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
