.header-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #1e90ff;
  color: white;
}

.header-text h1 {
  margin: 0;
  font-size: 2.5em;
}

.header-text h2 {
  margin: 0;
  font-size: 1.5em;
  font-weight: 300;
}

#logo {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
}

#name, #title {
  text-align: center;
}

#intro {
  display: flex;
  text-align: center;
  padding: 50px 20px;
}

#intro h2 {
  font-size: 2em;
  margin-bottom: 20px;
}

#info {
  max-width: 50%;
  margin: 0 auto;
  font-size: 1.2em;
}

#experienceList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px;
}

.listExp {
  list-style-type: none;
  background-color: #1E1E1E;
  border: 1px solid #2C3E50;
  padding: 10px;
  width: 25%;
  border-radius: 20px;
}
