nav {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px 0;
  position: fixed; /* Set the navbar to fixed position */
  bottom: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  height: 2%;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0 0 10px;
  justify-content: center;
}

nav ul li {
  margin: 0 15px;
}

nav ul li a {
  color: var(--font_color);
  text-decoration: none;
  font-size: 1.2em;
  transition: color 0.3s ease, background-color 0.3s ease;
  padding: 10px 20px; /* Increased padding */
  border: 1px solid #555; /* Slight border */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0,0,0,0.2); /* Subtle shadow */
  text-shadow: 0 1px 1px rgba(0,0,0,0.3); /* Text shadow for depth */
}

nav ul li a:hover {
  color: #fff;
  background-color: var(--card_background); /* Background color change on hover */
  border-color: var(--card_border); /* Border color change to match */
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; }
}

/* Responsive Design */
@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    text-align: center;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul li {
    margin: 10px 0;
  }
}
