#titleProg {
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
}

#programmingList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 10px;
}

.language_image {
  width: 100px;
  height: 100px;
}

.language {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 10px;
}

.listProg {
  list-style-type: none;
  margin: 10px 10px 10px 10px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  padding: 10px;
  width: 300px;
  border-radius: 20px;
}

.languageProg {
  width: 95%;
  height: 20px;
  -webkit-appearance: none;
  appearance: none;
  margin-bottom: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.languageProg::-webkit-progress-value {
  background-color: #af4c4c;
  border-radius: 10px;
}

.languageProg::-webkit-progress-bar {
  background-color: #ddd;
  border-radius: 10px;
}
